* {
    padding: 0;
    margin: 0;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
}
.hi {
    color: white;
    text-align: center;
}
